/*===============================
#.contact-area
=================================*/
.contact-area {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 850px;
  .google-map {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
}
.appointment-form-area {
  .single-input {
    position: relative;
    margin-bottom: 2rem;
    .input-icon {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .appointment-input {
      width: 100%;
      padding: 1rem 1rem 1rem 3rem;
      border: none;
      border-bottom: 2px solid #636363;
      font-family: $bodyFont;
      font-size: 1.4rem;
      font-weight: 400;
      color: var(--bColor);
    }
  }
  .form-title {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--bColor);
    margin-bottom: 3rem;
  }
}

.call-btn {
    display: flex;
    grid-column-gap: 2rem;
    .btn-icon {
        i {
            font-size: 5rem;
            color: var(--primary-color);
        }
    }
    .btn-info {
        flex: 1;
        span {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--bColor);
            margin-bottom: .5rem;
        }
        h3 {
            font-size: 2.8rem;
            font-weight: 500;
            color: var(--bColor);
        }
    }
}
.address-area {
    .address-top {
        margin-bottom: 2rem;
        h2 {
            margin-bottom: 1rem;
            font-size: 3.2rem;
            font-weight: 500;
            color: var(--bColor);
        }
    }
    .single-address {
        display: flex;
        grid-column-gap: 2rem;
        margin-bottom: 2rem;
        &:last-child {
            margin-bottom: 0;
        }
        .address-icon {
            font-size: 2.4rem;
            color: var(--primary-color);
        }
        .address-info {
            flex: 1;
            p {
                font-size: 1.6rem;
                color: var(--bColor);
            }
        }
    }
}