/*===============================
#.counter-area
=================================*/
.counter-area {
    padding: 6rem 0;
    .single-counter {
        display: flex;
        align-items: center;
        grid-gap: 2rem;
        .counter-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 9rem;
            height: 9rem;
            border-radius: 50%;
            background: var(--primary-color);
            font-size: 4rem;
            color: var(--white);
        }
        .counter-info {
            h2 {
                margin-bottom: .7rem;
                font-size: 3.2rem;
                font-weight: 500;
            }
            h4 {
                font-size: 1.8rem;
                font-weight: 500;
                margin: 0;
            }
        }
    }
}